<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <div class="bgtoolbar">
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title class="center">ร้านแอน</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
<div class="bg">
<ion-grid>
 <ion-row>
  <ion-col>
    <img src="assets/product/15promax.webp" alt="">
    <ion-label>
      <div class="center">
      iPhone 15 Pro Max <br>
      ราคา 44,990 บาท <br>
      <ion-button>
        <ion-icon name="construct-outline"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </div>
    </ion-label>
  </ion-col>
  <ion-col>
    <img src="assets/product/f23fe.webp" alt="">
    <ion-label>
      <div class="center">
      f 23 <br>
      ราคา 23,900 บาท <br>
      <ion-button>
        <ion-icon name="construct-outline"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </div>
    </ion-label>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <img src="assets/product/ipadair5.webp" alt="">
    <ion-label>
      <div class="center">
      i padair 5 <br>
      ราคา 40,499 บาท <br>
      <ion-button>
        <ion-icon name="construct-outline"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </div>
    </ion-label>
  </ion-col>
  <ion-col>
    <img src="assets/product/mi-14tpro.jpg" alt="">
    <ion-label>
      <div class="center">
     mi 14t pro <br>
      ราคา 45,550 บาท <br>
      <ion-button>
        <ion-icon name="construct-outline"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </div>
    </ion-label>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <img src="assets/product/mipad5.jpg" alt="">
    <ion-label>
      <div class="center">
      mi pad 5 <br>
      ราคา 39,999 บาท <br>
      <ion-button>
        <ion-icon name="construct-outline"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </div>
    </ion-label>
  </ion-col>
  <ion-col>
    <img src="assets/product/s24.webp" alt="">
    <ion-label>
      <div class="center">
      s 24 <br>
      ราคา 29,234 บาท <br>
      <ion-button>
        <ion-icon name="construct-outline"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </div>
    </ion-label>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <img src="assets/product/ts9.jpg" alt="">
    <ion-label>
      <div class="center">
      ts 9 <br>
      ราคา 55,555 บาท <br>
      <ion-button>
        <ion-icon name="construct-outline"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </div>
    </ion-label>
  </ion-col>
  <ion-col>
    <img src="assets/product/vivo-y20.png" alt="">
    <ion-label>
      <div class="center">
      vivo y 20<br>
      ราคา 49,999 บาท <br>
      <ion-button>
        <ion-icon name="construct-outline"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </div>
    </ion-label>
  </ion-col>
 </ion-row> 
</ion-grid>
</div>
</ion-content>